
<section class="basket">
  <el-table :empty-text="'No products in the cart'" :header-cell-style="{textAlign: 'center'}" :cell-style="{textAlign: 'center'}" :data="basketList"
    style="width: 100%">

    <!-- name -->
    <el-table-column prop="name" label="Name">
    </el-table-column>

    <!-- quantity -->
    <el-table-column prop="quantity" label="Quantity">
    </el-table-column>

    <!-- remove product -->
    <el-table-column label="Remove">
      <template slot-scope="scope">
        <el-button size="mini" @click="removeFromCart(scope.row)" type="primary" icon="el-icon-minus" circle></el-button>
      </template>
    </el-table-column>

  </el-table>
</section>

