<section class="search-form">
  <el-form :rules="rules" ref="searchForm" :inline="true" :model="searchForm" class="demo-form-inline">

    <!-- name -->
    <el-form-item label="Product name" prop="name">
      <el-input clearable type="text" v-model="searchForm.name" placeholder="Type a product's name"></el-input>
    </el-form-item>

    <!-- type -->
    <el-form-item label="Product type" prop="type">
      <el-select clearable v-model="searchForm.type" placeholder="Select type">
        <el-option v-for="item in types" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>
    </el-form-item>

    <!-- search btn -->
    <el-form-item>
      <el-button type="primary" @click="onSubmit(searchForm, 'searchForm')">Search</el-button>
    </el-form-item>
  </el-form>
</section>